<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN TWITTER</title>
    </head>
<body class="d-flex flex-column vh-100">
    
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NorthEastern Resaerch</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.northeastern.edu/about/about-northeastern/">About Northeastern</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutresearch/">About Research</a>
              </li>
              
            </ul>
          </div>
        
        </div>
      </nav>
<body>
    <h1>Welcome</h1>
        <p>Twitter User: {{ user }}</p>
        <p>Twitter User id: {{ user.id }}</p>
        <p>Twitter username: {{ user.username }}</p>
        <p>User is authenticated: {{ user.is_authenticated }}</p>
        <p>User is active: {{ user.is_active }}</p>
        <p>User last login: {{ user.last_login }}</p>
        <p>User date joined: {{ user.date_joined }}</p>
        <p>User first name: {{ user.first_name }}</p>
        <a href="{% url 'twitter_logout' %}">Logout</a>
       
        
        
    </p>
    
    
          <h1>Twitter Timeline</h1>
          <ul>
              {% for tweet in tweets %}
                  <li>{{ tweet }}</li>
              {% endfor %}
          </ul>
        
</body>
</html>