<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>About Research</title>
    </head>
<body class="d-flex flex-column vh-100">
    
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NorthEastern Resaerch</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.northeastern.edu/about/about-northeastern/">About Northeastern</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutresearch">About Research</a>
              </li>
              
            </ul>
          </div>
        
        </div>
      </nav>
      <main class="container mt-5">
        <h1>ABOUT RESEARCH</h1>
        <section class="bg-light">
          <div class="col-lg-12 mb-4 mb-sm-5">
            <div>
                <span class="section-title text-primary mb-3 mb-sm-4">Building an Application that Visualizing newsworthiness of tweets using ML</span>
                <p>
                  <br>
                  It is mechanism to capture a user’s received tweets (from followers/pay loads) for the day and create a small dataset (tweets ) and run the dataset on the Machine Learning classifier and then visualize the tweets which are news and which are not news for the particular user, 
                  
                  <br><br>Overall project expectation: <br>Users logins via the web browser and sees news / not news tweets (everything happens under the hood) 
                  
                  <br>Tasks: 
                  <br>Phase 1: 
                  <br>Infrastructure creation: Create an infrastructure (through twitter api) to allow twitter users to log in via a web browser extension 
                  <br>OUTPUT - Django app that can allow twitter login 
                  <br>This will be tested using 5 student twitter users accounts. 
                  
                  
                  
                  <br><br><br>Phase 2: Data mining: Once log in - users daily received tweets (-last 24 hours - from followers etc) is mined into a dataset
                  <br>Individual tweets datasets (for each user) - needs to be cleaned and processed ready to be run on the classifier 
                  <br>OUTPUT: a file with cleaned tweets received for a logged in user)
                  
                  <br><br>Classifier labels each tweet as news/not news
                  <br>OUTPUT: labeled tweets showing news /not news
                  
                  <br><br><br>Phase 3: Classified tweets are visualized for the user on the browser extension
                  <br>Newsworthy tweets should appear as priority tweets at the top  
                  
                  <br><br>All other tweets (non news should be labeled at the bottom of the user’s feed
                  <br>High priority tweets could be displayed for the user etc.  
                  
                  <br><br>Popup notification for tweets classified as news.</p>
                <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div class="mb-4 mb-sm-5">
                        <span class="section-title text-primary mb-3 mb-sm-4">Technology</span>
                        <div class="progress-text">
                            <div class="row">
                                <div class="col-6">Python Django</div>
                                <div class="col-6 text-end">40%</div>
                            </div>
                        </div>
                        <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                            <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                        </div>
                        <div class="progress-text">
                            <div class="row">
                                <div class="col-6">React.js</div>
                                <div class="col-6 text-end">20%</div>
                            </div>
                        </div>
                        <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                            <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                        </div>
                        <div class="progress-text">
                            <div class="row">
                                <div class="col-6">TypeScript</div>
                                <div class="col-6 text-end">20%</div>
                            </div>
                        </div>
                        <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                            <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                        </div>
                        <div class="progress-text">
                            <div class="row">
                                <div class="col-6">Webpack</div>
                                <div class="col-6 text-end">20%</div>
                            </div>
                        </div>
                        <div class="custom-progress progress progress-medium" style="height: 4px;">
                            <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 mb-4 mb-sm-5">
                      <div class="card card-style1 border-0">
                          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                              <div class="row align-items-center">
                                  <div class="col-lg-6 mb-4 mb-lg-0">
                                      <img src="https://media.licdn.com/dms/image/C4E03AQEycE3euRO0FA/profile-displayphoto-shrink_200_200/0/1607964889493?e=1702512000&v=beta&t=_cwU4JdTUlXT1eSoIIlDmToGpHKN8YfTJvFRSZeuV7A" alt="...">
                                  </div>
                                  <div class="col-lg-6 px-xl-10">
                                      <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                          <h3 class="h2 text-white mb-12">Jonathan Mwaura    </h3>
                                          
                                      </div>
                                      <ul class="list-unstyled mb-1-9 mt-12">
                                          <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Professional Role:</span> Computational Intelligence Research Scientist</li>
                                          <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Linkedin:</span> https://www.linkedin.com/in/jmwaura/</li>
                                          
                                      </ul>
                                      <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                          <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                          <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                          <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                          <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-12 mb-4 mb-sm-5">
                    <div class="card card-style1 border-0">
                        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                            <div class="row align-items-center">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <img src="https://media.licdn.com/dms/image/C4E03AQEL72DvEwZmZA/profile-displayphoto-shrink_200_200/0/1656540305397?e=1702512000&v=beta&t=EgZGcHo9MInTEX1_IOsv0ZlEAydEpvQm0WTHEmbhz64" alt="...">
                                </div>
                                <div class="col-lg-6 px-xl-10">
                                    <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                        <h3 class="h2 text-white mb-12">Kanidaye Okorji    </h3>
                                        
                                    </div>
                                    <ul class="list-unstyled mb-1-9 mt-12">
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Professional Role:</span> Student Researcher</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Linkedin:</span> https://www.linkedin.com/in/kani-okorji-20869666/</li>
                                        
                                    </ul>
                                    <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                        <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                        <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </di
              </div>
          </div>
      </section>
    
    </main>
   
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src="/public/javascripts/validateForms.js"></script>

</body>
</html>